*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    gap: 10px;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
    width: 80%;
    margin: auto;
   
}
.headingCon{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
}
.headingCon h1{
    background-image: linear-gradient(135deg, hsl(204, 84%, 61%) 0%, hsl(270, 82%, 73%) 100%);
    -webkit-background-clip: text;  
  background-clip: text;          
  color: transparent;     
  font-size: 40px;
  font-weight: 700;    
}
.headingCon p{
    font-size: 13px;
    color: gray;
}
.toggler{
   cursor: pointer;

}
.taskCardCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 80%;
    gap: 20px;
      margin: auto;
      margin-top: 10px;
    
}
.addTaskCon{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
}
.task-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid lightgray;
    border-radius: 5px;
    outline: none;

}
.task-input:focus{
    border-color: hsl(204, 84%, 61%);
    box-shadow: 0 0 5px hsl(204, 84%, 61%);
}
.add-btn{
    padding: 10px 15px;
      background-image: linear-gradient(135deg, hsl(204, 84%, 61%) 0%, hsl(270, 82%, 73%) 100%);
    background-color: hsl(204, 84%, 61%);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-btn:hover{
    background-image: linear-gradient(135deg, hsl(270, 82%, 73%) 0%, hsl(204, 84%, 61%) 100%);
}
