*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.App{
    min-height: 100vh;
    padding: 20px 10px;
    background-color: #E9EEFF;
    color:  #1A1A2E;
}
.dark{
   background-color: #1A1A2E;
 color: #E9EEFF;
    cursor: pointer;
    position: fixed;
    right: 50px;
    top: 50px;

}

.container{
    display: flex;
    gap: 10px;
   padding: 10px;
   justify-content: space-between;
   align-items: center;
    width: 80%;
    margin: auto;
   
}
@media screen and (max-width: 700px){
    .container{
        width: 100%;
    }

    
}
.headingCon{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.headingCon h1{
   background-image: linear-gradient(135deg, #5C7AEA 0%, #A259FF 100%);
    -webkit-background-clip: text;  
  background-clip: text;          
  color: transparent;     
  font-size: 40px;
  font-weight: 700;    
}
.headingCon p{
    font-size: 13px;
    color: gray;
}
.toggle{
   cursor: pointer;
position:fixed;
right: 50px;
top: 50px;
}
.taskCardCon{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    width: 80%;
    height: 60vh;
    overflow-y: auto;
    border-radius: 5px;
    gap: 20px;
      margin: auto;
      margin-top: 10px;
    background-color: rgba(92, 122, 234, 0.08); 
  border-radius: 10px;
  backdrop-filter: blur(4px);
  
    scrollbar-width: thin;
    scrollbar-track-color: transparent;
    scrollbar-thumb-color: #A259FF rgba(92, 122, 234, 0.08);
  -webkit-overflow-scrolling: touch;
}
.heading-disc{
    font-size: 14px;
    color: gray;
    margin-top: 5px;
  width: 50%;
  padding: 15px ;
    text-align: center;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}
@media screen and (max-width: 700px){
    .heading-disc{
        width: 90%;
    }
    .taskCardCon{
        width: 100%;
        height: 50vh;
    }
    
}
.addTaskCon{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 20px;
    position: sticky;
    top: 0;
}
.addTaskCon:hover .task-input{
    border-color: hsl(270, 82%, 73%);
    box-shadow: 0 0 2px hsl(270, 82%, 73%);
}
.task-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
   border: 2px solid #A259FF;
    border-radius: 5px;
    outline: none;

}
.task-input:focus{
    border-color: hsl(270, 82%, 73%);
    box-shadow: 0 0 2px hsl(270, 82%, 73%);
}

.add-btn{
    padding: 10px 15px;
background-image: linear-gradient(135deg, #5C7AEA 0%, #A259FF 100%);    
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-btn:hover{
 background-image: linear-gradient(135deg, #A259FF 0%, #5C7AEA 100%);
}
.searchTaskCon{
    width: 80%;
    margin: auto;
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-top: 10px;
}
.search-input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
   border: 2px solid #A259FF;
    border-radius: 5px;
    outline: none;

}
@media screen and (max-width: 700px){
    .addTaskCon{
        width: 100%;
    }
    .add-btn{
        padding: 10px;
    }
    .task-input{
        font-size: 14px;
    }
    .searchTaskCon{
        width: 100%;
    }
    .search-input{
        font-size: 14px;
    }
    .toggle{
        right: 20px;
        top: 20px;
    }
    .dark{
        right: 20px;
        top: 20px;
    }
    
}
