body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
     background-color: hsl(var(--background));
}
#root{
    padding: 20px;
}
@media  (max-width: 700px) {
    #root{
        padding: 10px;
    }
}