.taskCard{
    padding: 15px 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 3px 0px rgb(193, 185, 185);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.task{
    font-size: 17px;
}
.deleteIcon{
    font-size: 15px;
    cursor: pointer;
    color: tomato;
}
.input-con{
    width: 80%;
    margin: auto;
    padding: 10px;
}