.taskCard{
    padding: 12px 15px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    background-color: white;
     font-size: 16px;
}
.taskCard:hover{
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.task{
    font-size: 17px;
}
.delete-btn{
    background: none;
    border: none;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
    color: tomato;
}
.delete-btn:hover{
    color: red;
}